$primary-color: #4C33FF;
$sub-color: #33A1FF;
$white-color: #fff;
$black-color: #000;
$text-color: #333;
$border-color: #e5e5e5;
$gray-color: #655855;

.grid {
width: 1000px;
max-width: 100%;
margin: 0 auto;
}

.grid__row {
display: flex;
flex-wrap: wrap;
margin-left: -5px;
margin-right: -5px;
}

/* Test */
.grid__column-3 {
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3333%;
}

.grid__column-5 {
padding-left: 5px;
padding-right: 5px;
width: 41.6667%;
}

.grid__column-7 {
padding-left: 5px;
padding-right: 5px;
width: 58.3333%;
}

* {
box-sizing: inherit;
}
html, body {
width: 100%;
}
body {
font-size: 62.5%;
line-height: 1.6rem;
font-family: 'Roboto', sans-serif;
box-sizing: border-box;
}

#app {

}

#header {
    height: 70px;
    display: flex;
    box-shadow: 0 3px 3rem rgba(0,0,0,0.1);
    .nav-left {
           display: flex;
        #logo {
                width: 120px;
                height: 40px;
                margin-top: 15px;
                .img {
                }
        }
        
        ul {
            margin-top: 30px;
            padding-left: 0;
            list-style-type: none;
            display: flex;
            
            li {
                margin-left: 20px;
                
                a {
                    text-decoration: none;
                    color: $text-color;
                }

                a:hover {
                    color: $primary-color;
                }
            }
        }
    }
    .socials {
        margin-left: auto;
        margin-right: 40px;
        a {
            text-decoration: none;
            span {
                line-height: 70px;
                margin: 30px 0 0 10px;
                border-radius: 50%;
                background-color: $white-color;
                border: 1px solid $gray-color;
                color: $gray-color;
                text-decoration: none;
                
                .fb-icon {
                    padding: 1px 2px 1px 6px;
                }
    
                .insta-icon {
                    padding: 1px 4px;
                }
            }
        }
        
    }
}

#container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 700px;
    .title {
        margin-top: 100px;
            h2 {
                font-size: 3.2rem;
            }
            
            p {
                font-size: 2.2rem;
            }
    }
    
    .apps {
        margin-top: 50px;
        p {
            font-size: 2rem;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
    
            img {
                width: 240px;
                height: 68px;
                margin-bottom: 16px;
    
            }
        }
    }
    .img {
        background-image: url('../img/mobile.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        height: 680px;
        margin-top: 20px;
        margin-right: -80px;
    }

    .list-feature {
        .title {
            color: #3b3f53;
            text-align: center;
            h2 {
                font-size: 2.8rem;
                font-weight: 400;
            }
            p {
                padding: 0 60px;
                font-size: 2rem;
            }
        }

        .feature {
            margin-top: 40px;
            .feature__flex {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    text-align: center;
                }
            }
        }
        

    }
}




